<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hate Speech Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <div class="banner">
    <h1 class="title"> Hate Detector </h1>
  </div>
  <div class="body-container">
      
      <form class="form-list" id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
          <p class="body-title"> Link the File! </p>
          <div class="center">
            <div>
                <label id="label"for="team_name">Select Your Video! </label>
            </div class="buttons">
              <input type="file" class="choose-file"accept=["video/*"] value="Select a Video!" />
              <input type="submit" class="submit-input" value="Submit!" />
          </div>
      </form>

      <!-- <div class="output">
        <p id="output-label">Output:</p>
      </div> -->
      <div class="output">
        <div class="o-label-container">
            <label id="o-label"for="offensiveness_label">Overall Offensiveness: </label>
        </div>
        <div class="progress">
            <div  class={{overall_rating}} role="progressbar" aria-valuenow={{percent_offensive}} aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              {{overall_offensiveness}}/100
            </div>
          </div>
          <div class="output-message">
            <div class="table-header">Sentence Number (#)</div>
            <div class="table-header">Sentence</div>
            <div class="table-header">Offensiveness</div>
            <div class="table-header">Offense Scale (0:Low - 100: High)</div>
              {% for i in ids %}
                <div class="white">Sentence {{ids[i]}}</div>
                <div class={{ratings[i]}}>{{sentences[i]}}</div>
                <div class={{ratings[i]}}>{{names[i]}}</div>
                <div class={{ratings[i]}}>{{values[i]}}</div>
            {% endfor %}

          </div>
      </div>
      
  </div>


</body>

</html>