<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hate Speech Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
  <div class="banner">
    <h1 class="title"> Hate Speech Detector </h1>
  </div>
  <div class="body-container">
      
      <form class="form-list" action="video-info" method="post">
          <p class="body-title"> Link the File! </p>
          <label id="label"for="team_name">Enter Video Url: </label>
              <input class="text-input" id="video_url" type="text" name="video_url_field" value="">
              <input type="submit" class="submit-input" value="Submit Video!">
      </form>

      <div class="output">
        <p id="output-label">Output:</p>
      </div>
  </div>


</body>

</html>